.select {
  position: relative;
}

.input {
  border: var(--br-content-modal);
  border-radius: var(--b-r);
  cursor: pointer;
  width: 100%;
  padding: 8px;
}

.disabled {
  background-color: var(--br-disabled);
  cursor: not-allowed;
}

.enabled {
  background-color: var(--bg-charts);
  outline: none;
}

.dropdown {
  position: absolute;
  width: 100%;
  border: var(--br-content-modal);
  border-radius: var(--b-r);
  background-color: var(--bg-charts);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  padding: 5px;
  padding-bottom: 1px;
  margin-top: 4px;
}

.option {
  cursor: pointer;
  padding: 4px;
  border-radius: var(--b-r);
}

.option:hover {
  background-color: #f0f0f0;
}

.selectedOption {
  background-color: #e6e6e6;
  pointer-events: none; /* чтобы нельзя было кликнуть на выбранную опцию */
}
