.select {
  position: relative;
}

.input {
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  padding: 8px;

/*   padding: 3px;
  background-color: #f0f0f0;
  outline: none;
  width: 195px;
  text-align: center;
 */}


.disabled {
  background-color: #f9f9f9;
  cursor: not-allowed;
}

.enabled {
  background-color: #fff;
  outline: none;
}

.dropdown {
  position: absolute;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  padding: 5px;
  padding-bottom: 1px;
  margin-top: 4px;
}

.option {
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;
}

.option:hover {
  background-color: #f0f0f0;
}

.selectedOption {
  background-color: #e6e6e6;
  pointer-events: none; /* чтобы нельзя было кликнуть на выбранную опцию */
}

