.management {
  position: absolute;
}

.container {
  height: 100vh;
  background: aqua;
  display: flex;
}

.names {
  background: red;
  width: 35%;
}

.containerСharts {
  background: rebeccapurple;
  width: 100%;
  margin-left: 20px;
}

.charts {
  background: olivedrab;
  height: 100vh;
  padding: 0 10px;
  padding-bottom: 80px;
  margin: 0 10px;
}
