.management {
  position: absolute;
  z-index: 1;
  height: 26px;
  width: 26px;
}

.container {
  height: 100vh;
  display: flex;
}

.departmentsNames {
  background: #f1f1f1;
  width: 15%;
  padding-top: 30px; /* Оставляем padding у внешнего контейнера */
  text-align: center;
}

.departmentName {
  width: 100%;
  margin-top: 10px;
  overflow-y: auto; /* Добавляем прокрутку по вертикали */
  max-height: calc(100vh - 65px);
  direction: rtl; /* Меняем направление на rtl для перемещения полосы прокрутки влево */
}

.departmentName > * {
  direction: ltr; /* Восстанавливаем направление текста для внутренних элементов */
}

.departmentButton {
  display: block;
}

.containerСharts {
  background: #f1f1f1;
  width: 100%;
  position: relative;
}

.charts {
  background: rgb(255, 255, 255);
  height: 95vh;
  padding: 5px 10px 80px 10px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 30px;
  right: 15px;
  border-radius: 7px;
  box-shadow: 0px 2px 10px 2px rgb(128 128 128 / 20%);
}
