.management {
  position: absolute;
  z-index: 1;
  height: 26px;
  width: 26px;
}

.container {
  height: 100vh;
  display: flex;
}

.departmentsNames {
  width: 20%;
  padding-top: 30px;
  text-align: center;
  background: var(--bg-general);
}

.departmentName {
  width: 100%;
  margin-top: 5px;
  overflow-y: auto; /* Добавляем прокрутку по вертикали */
  max-height: calc(100vh - 65px);
  direction: rtl; /* Меняем направление на rtl для перемещения полосы прокрутки влево */
}

.departmentName > * {
  direction: ltr; /* Восстанавливаем направление текста для внутренних элементов */
}

.departmentsNames h3 {
  font-size: 19px;
  font-weight: 600;
}

.departmentButton {
  display: block;
  width: 100%;
  text-align: start;
  border-bottom: 1px solid #007bff;
  margin-bottom: 5px;

  white-space: nowrap; /* Текст в одну строку */
  overflow: hidden; /* Обрезаем переполненный текст */
  text-overflow: ellipsis; /* Добавляем троеточие для переполненного текста */
  position: relative;
}

.departmentButton:hover::after {
  content: attr(title); /* Отображаем полный текст из атрибута title */
  position: absolute;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  z-index: 10;
  white-space: normal; /* Позволяет тексту переноситься на следующую строку в подсказке */
  max-width: 200px; /* Максимальная ширина подсказки */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  top: 100%; /* Позиция подсказки под кнопкой */
  left: 0;
}

.containerСharts {
  background: var(--bg-general);
  width: 100%;
  position: relative;
}

.charts {
  height: 95vh;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 15px;
  padding: 5px 10px 90px 10px;
  border-radius: 7px;
  background: #ffffff;
  box-shadow: 0px 2px 10px 2px rgb(128 128 128 / 20%);
  font-size: 17px;
}

.closeDepartmentName {
  left: 30px;
}
.openDepartmentName {
  left: 0;
}