.grid {
  width: 100%;
  height: 100%;
  position: relative;
}

.containerVerticalLine {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.verticalLines {
  width: 0;
  z-index: 1;
}

.verticalLine {
  border-left: 1px solid black;
  height: 100%;
  box-sizing: border-box;
}

.date {
  transform: rotate(90deg);
  white-space: nowrap;
  height: 0;
  margin-left: 13px;
  margin-top: 2px;
}

.containerHorizontalLine {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
