/* Grid.module.css */
.grid {
  width: 100%;
  height: 100%;
  position: relative;
}

.containerVerticalLine {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
}

.verticalLine {
  border-left: 1px solid black;
  height: 100%;
}

.date {
  transform: rotate(90deg);
  white-space: nowrap;
  height: 0;
  margin-left: 13px;
}

.flex {
  display: flex;
  flex-direction: column;
  width: 0;
}

.tasksContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.department {
  position: relative;
  margin-top: 30px;
}

.task {
  position: absolute;
  height: 20px;
  top: 0;
}

.taskRectangle {
  position: absolute;

}

