.modalContainer {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

.modalContent {
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 20rem;

  background: var(--bg-charts);
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.modalHeaderTitle {
  font-size: 1.5rem;
  font-weight: bold;
}
