.tooltip {
  position: absolute;
  background: var(--bg-charts);
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: var(--b-r);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow-wrap: break-word;
  pointer-events: none; /* Важно для предотвращения наведения курсора на всплывающее окно */
  visibility: hidden;
}

.colorBox {
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid #000;
}
