.calendarWrap {
  position: relative;
}

.dateInput {
  background: transparent;
  min-width: 190px;
}

.calendar {
  position: absolute;
  width: 100%;
  z-index: 1;
  padding-top: 4px;
}

.dateRange {
  border: 1px black solid;
  width: 100%;
}
